<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="egovframework.example.kiosk.dao.OrderDao">
	
	<!-- 주문 접수 -->
    <insert id="saveOrders" parameterType="egovframework.example.kiosk.vo.OrderVo">
        INSERT INTO orders(MenuName, Quantity, Price, TotalAmount)
        VALUES (#{menuName}, #{quantity}, #{price}, #{totalAmount})
    </insert>

</mapper>


